html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS";
}

#title {
  color: #E4CBB5;
}

#gsoLogo {
  float: left;
}

#navTools {
  float: right;
  font-size: 1.1em;
}

.black {
  color: #000;
}

.tan {
  color: #E4CBB5;
}

.gray {
  color: #bbb;
}

p {
  font-size: 0.8em;
}

*:focus {
    outline: none;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ddd;
}

a:active {
    text-decoration: underline;
}

.calcite.nav-position-top .esriSimpleSlider {
  margin-top: 90px !important;
}

#borderContainer {
    width: 100%;
    height: 100%;
}

#searchPrompt {
  font-size: 1.0em;
}

.resultsTables, .drillDownResults, .drillStationResults {
  border: none;
}

.drillDownResults {
  margin: 3px;
  font-size: 12px;
}

.drillDownResults input[type='text'] {
  border: none;
  background: transparent;
}

#stationsToggle {
  color: blue;
  text-decoration: underline;
}

#header {
  background-color: darkred;
  background-size: 110% 100%;
  /*background-image: url("../images/TitleBanner.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

#toolbar {
  height: 45px;
  margin-right: 20px;
}

#featureSearch {
  position: absolute;
  left: 85px;
  top: 90px;
  z-index: 1000;
}

#navButtons {
  margin-right: 20px;
  float: right;
}

#search {
  position: absolute;
  left: 70px;
  top: 30px;
  z-index: 2;
}

#mapDiv {
    height:100%;
}

.measureContainer {
  height: 100px;
  width: 160px;
  position: absolute;
  right: 40px;
  top: 100px;
}

#measurementDiv {
  display: none;
  height: 210px;
  width: 200px;
  position: absolute;
  right: 60px;
  top: 90px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  z-Index:1000;
}

#measurementDiv * {
  background-color: transparent !important;
  color: #fff !important;
}

.dijitChecked, .dijitButtonNode:hover {
  border-color: rgba(59, 143, 196, 1);
}

.dijitMenu, .dijitMenuItem {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #fff !important;
}

.dijitMenuItem:hover {
  background-color: rgba(59, 143, 196, 0.7) !important;
}

#collapseToc {
  padding-left: 10px;
}

#mainResult {
  color: white;
}

.panel {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.fixed-panel {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#navButtons .dijitButtonNode {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

#navButtons .dijitButtonContents {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
}

.btn-tool {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.icon-zoomin {
 background-image: url("../images/ZoomIn.png");
 background-repeat: no-repeat;
}

.icon-zoomout {
 background-image: url("../images/ZoomOut.png");
}

.icon-zoomfullext {
 background-image: url("../images/ZoomFull.png");
}

.icon-zoomfullext:hover {
 background-image: url("../images/ZoomFullHighlight.png");
}

.icon-zoomprev {
 background-image: url("../images/PrevExtent.png");
}

.icon-zoomprev:hover {
  background-image: url("../images/PrevExtentHighlight.png");
}

.icon-zoomnext {
 background-image: url("../images/NextExtent.png");
}

.icon-zoomnext:hover {
  background-image: url("../images/NextExtentHighlight.png");
}

.icon-select {
 background-image: url("../images/Cursor.png");
}

.icon-measurement {
  background-image: url("../images/Measure.png");
}

.icon-measurement {
  background-image: url("../images/Measure.png");
}

.icon-measurement:hover {
  background-image: url("../images/MeasureHighlight.png");
}
