html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS";
}

#title {
  color: #E4CBB5;
}

#gfdPatch {
  float: left;
}

#fireLinks {
  float: right;
  font-size: 1.1em;
}

*:focus {
    outline: none;
}

a:link {
    text-decoration: none;
    /*color: #aaa;*/
    color: #ddd;
}

a:visited {
    text-decoration: none;
    /*color: #aaa;*/
    color: #ddd;
}

a:hover {
    color: #E4CBB5;
}

a:active {
    text-decoration: underline;
}

#borderContainer {
    width: 100%;
    height: 100%;
}

.resultsLists {
    list-style-type: none;
}

#stationsToggle {
  color: blue;
  text-decoration: underline;
}

/*#stationsList {
  visibility: hidden;
}*/

.drillDownResults {
  margin: 3px;
}

#LayerListContainer {
  padding: 0;
  margin: 0;
  height:100%;
  width: 10%;
  float: left;
}

#header {
  background-color: darkred;
  background-size: 110% 100%;
  background-image: url("../images/TitleBanner.png");
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

#toolbar {
  height: 45px;
}

#featureSearch {
  position: absolute;
  left: 85px;
  top: 90px;
  z-index: 1000;
}

#navButtons {
  margin-right: 20px;
  float: right;
}

#search {
  position: absolute;
  left: 70px;
  top: 30px;
  z-index: 2;
}

#mapDiv {
    height:100%;
}

#stationsToggle {
  cursor: pointer;
}

.claro .dijitButton .dijitButtonNode {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.navButton {
  width: 16px;
  height: 16px;
  margin: 12px;
}

.icon {
  width: 32px;
  height: 32px;
}

#zoomin {
 background-image: url("../images/ZoomIn.png");
 background-repeat: no-repeat;
}

#zoomin:hover {

}

/*#zoomin:focus {
  background-image: url("../images/ZoomInSelect.png");
}*/

#zoomout {
 background-image: url("../images/ZoomOut.png");
 background-repeat: no-repeat;
}

#zoomfullext {
 background-image: url("../images/ZoomFull.png");
 background-repeat: no-repeat;
}

#zoomfullext:hover {
 background-image: url("../images/ZoomFullHighlight.png");
}

#zoomprev {
 background-image: url("../images/PrevExtent.png");
 background-repeat: no-repeat;
}

#zoomprev:hover {
  background-image: url("../images/PrevExtentHighlight.png");
}

#zoomnext {
 background-image: url("../images/NextExtent.png");
 background-repeat: no-repeat;
}

#zoomnext:hover {
  background-image: url("../images/NextExtentHighlight.png");
}

#pan {
 background-image: url("../images/Pan.png");
 background-repeat: no-repeat;
}

#deactivate {
 background-image: url("../images/Clear.png");
 background-repeat: no-repeat;
}

#deactivate:hover {
 background-image: url("../images/ClearHighlight.png");
}

/* Collapse into a single border */
table {
    border-collapse: collapse;
    margin: 5px;
}

table, th, td {
   border: 1px solid black;
}

/* Place padding around content */
th, td {
    padding: 0px 5px;
    text-align: left;
}

th {
  background-color: #aaa;
}
