html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS";
}

#fireLinks {
  float: right;
  font-size: 1.1em;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #aaa;
}

a:active {
    text-decoration: underline;
}

#borderContainer {
    width: 100%;
    height: 100%;
}

.resultsLists {
    list-style-type: none;
}

#stationsToggle {
  color: blue;
  text-decoration: underline;
}

/*#stationsList {
  visibility: hidden;
}*/

.drillDownResults {
  margin: 3px;
}

#LayerListContainer {
  padding: 0;
  margin: 0;
  height:100%;
  width: 10%;
  float: left;
}

#header {
  background-color: darkred;
}

#toolbar {
  height: 45px;
}

#featureSearch {
  position: absolute;
  left: 20px;
  top: 87px;
  z-index: 3;
}

#navButtons {
  margin-right: 20px;
  float: right;
}

#search {
  position: absolute;
  left: 70px;
  top: 30px;
  z-index: 2;
}

#mapDiv {
    height:100%;
}

#stationsToggle {
  cursor: pointer;
}



.claro .dijitButton .dijitButtonNode {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/*.dijitButtonNode {
  background-color: red;
}*/

 /*.claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, */

 /*.claro .dijitToggleButton .dijitButtonNode {
   background-color: red;
 }*/

.navButton {
  width: 16px;
  height: 16px;
  margin: 12px;
}

.icon {
  width: 32px;
  height: 32px;
}

#zoomin {
 background-image: url("../images/zoom-in-4x.png");
 background-repeat: no-repeat;
}

#zoomout {
 background-image: url("../images/zoom-out-4x.png");
 background-repeat: no-repeat;
}

#zoomfullext {
 background-image: url("../images/globe-4x.png");
 background-repeat: no-repeat;
}

#zoomprev {
 background-image: url("../images/chevron-left-4x.png");
 background-repeat: no-repeat;
}

#zoomnext {
 background-image: url("../images/chevron-right-4x.png");
 background-repeat: no-repeat;
}

#pan {
 background-image: url("../images/move-4x.png");
 background-repeat: no-repeat;
}

#deactivate {
 background-image: url("../images/x-4x.png");
 background-repeat: no-repeat;
}

/* Collapse into a single border */
table {
    border-collapse: collapse;
    margin: 5px;
}

table, th, td {
   border: 1px solid black;
}

/* Place padding around content */
th, td {
    padding: 0px 5px;
    text-align: left;
}

th {
  background-color: #aaa;
}
